.SafeHTML {
  :global {
    p {
      font-style: normal;
      font-size: inherit;
      font-weight: 400;
      line-height: 1.6em;
      text-rendering: geometricPrecision;
      -webkit-font-smoothing: antialiased;
    }

    strong {
      font-weight: 600;
    }

    em {
      font-style: italic;
    }

    blockquote {
      position: relative;
      clear: both;
      text-align: center;
      border: 0;
    }

    blockquote p {
      font-size: 18px;
      font-weight: 500;
      color: #151515;
      line-height: 1.16;
      text-transform: uppercase;
      margin: 0;
    }

    blockquote cite {
      color: #151515;
      font-size: 12px;
      font-style: normal;
    }

    cite {
      display: block;
      margin-top: 20px;
    }

    figure {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .has-text-align-center {
      text-align: center;
    }

    .has-text-align-justify {
      text-align: justify;
    }

    .wp-block-quote {
      overflow-wrap: break-word;
    }

    .wp-block-query-title,
    .wp-block-quote {
      box-sizing: border-box;
    }

    .wp-block-separator {
      border: 1px solid;
      border-left: none;
      border-right: none;
    }

    .wp-block-image {
      .aligncenter {
        margin-left: auto;
        margin-right: auto;
        display: table;
        & > figcaption {
          caption-side: bottom;
          display: table-caption;
        }
      }
      figcaption {
        margin-top: 0.5em;
      }
    }

    .is-style-editorskit-rounded {
      &.wp-block-image {
        img {
          border-radius: 0.5em;
          overflow: hidden;
        }
      }
    }

    .has-drop-cap {
      &:not(:focus)::first-letter {
        float: left;
        font-size: 8.4em;
        font-style: normal;
        font-weight: 400;
        line-height: 0.68;
        margin: 0.05em 0.1em 0 0;
        text-transform: uppercase;
      }
    }

    ul {
      margin-bottom: 1rem;
      &.is-style-dashed,
      &.is-style-checked {
        li {
          padding-left: 25px;
          position: relative;
          &:before {
            text-align: right;
            background-size: cover;
            display: inline-block;
            height: 25px;
            position: absolute;
            margin-top: -18px;
            transform: scale(0.9);
            width: 25px;
            top: 1em;
            mask-repeat: no-repeat;
          }
        }
      }
      &.is-style-dashed li {
        &:before {
          content: '–';
          left: -8px;
        }
      }

      &.is-style-checked li {
        &:before {
          content: '';
          mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path fill="none" d="M0 0h24v24H0z"></path><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"></path></svg>');
          background-color: currentColor;
          left: -4px;
        }
      }
    }

    hr {
      max-width: 97.5rem;
      height: 0;
      border-right: 0;
      border-top: 0;
      border-bottom: 1px solid #cacaca;
      border-left: 0;
      margin: 1.25rem auto;
      clear: both;
    }

    blockquote,
    q {
      quotes: none;
    }

    h1,
    h2,
    H3,
    h4,
    h5,
    h6 {
      @apply font-nunito;
      font-weight: 700;
    }

    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 22px;
    }
    h4 {
      font-size: 16px;
    }
    h5 {
      font-size: 12px;
    }
    h6 {
      font-size: 8px;
    }

    @media only screen and (min-width: 48.063em) {
      blockquote p {
        font-size: 22px;
      }
    }
  }
}
