@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  @apply font-nunito mt-0 mb-4 font-bold;
}

h3 {
  font-size: 22px;
  line-height: 1.135;
  margin-bottom: 20px;
  @apply text-bluetifulBlue;
}

a {
  @apply text-bluetifulBlue;
}

body p {
  font-style: normal;
  font-weight: 400;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

address {
  @apply not-italic;
}

:focus-visible {
  outline: 0;
}