@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 600;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-size: 22px;
  line-height: 1.135;
  margin-bottom: 20px;
  color: #043299;
}

body p {
  font-style: normal;
  font-weight: 400;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 1rem;
}

:focus-visible {
  outline: 0;
}