@import '/app/scss/breakpoints.scss';

.paralaxWrapper {
  perspective: 10px;
  @apply h-full overflow-y-auto overflow-x-hidden;
}

.paralaxContainer {
  transform-style: preserve-3d;
  @apply flex justify-center items-center -z-10 h-[30%] relative md:h-1/3 landscape:h-3/5;
}
.paralaxImg {
  transform: translateZ(-10px);
  scale: 2;
  @apply object-cover w-full h-[135%] relative -top-[275px] landscape:static;
}

